<!DOCTYPE html />
<html>
    <head>
      <style>
                body {
          margin: 0;
        }
        table {
          width: 100%;
          text-align: center;
        }
        .email-body {
          min-height: 100vh;
          font-family: Helvetica, Arial;
          background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,.4), black), url(https://st-paul-baptist-website-uploads.s3.amazonaws.com/EmailBackground.png);
          background-position: center;
          background-size: cover;
          text-shadow: 1px 1px 1px black;
        }
        .wrapper {
          margin: 0 auto;
          width: 800px;
        }
        .header {
          background: #957869;
          padding: 20px 0;
        }
        .header img {
          max-width: 350px;
        }

        .main-content {
          background: #4E372B;
          background: rgba(78, 55, 43, .7);
          color: white;
          padding: 50px;
        }
        .main-content-background {
          background-color: #543;
          background-image: url(http://localhost:3000/assets/img/Cross.png);
          background-size: 75%;
          background-repeat: no-repeat;
          background-position: center -170px;
        }
        .main-content-box {
          background: rgba(0,0,0,0.45);
          color: white;
          border-radius: 10px;
          padding: 50px;
          margin-top: 80px;
          font-size: 25px;
        }

        .main-link {
          padding: 30px 0;
        }
        
        .main-link,
        .main-link a {
          color: #62ECFF;
        }

        tfoot {
          padding-top: 50px;
        }
        p {
          margin: 0 0 10px;
        }
        .text-left {
          text-align: left;
        }

        .footer-text {
          text-align: left;
          margin-top: 100px;
          line-height: 21px;
        }

        .small-text {
          font-weight: 300;
          font-size: 16px;
        }
      </style>
    </head>
    <body>
      <!-- body -->
      <table class="email-body" cellpadding="100">
        <tbody>
          <tr>
            <td>
              <!-- Main container -->
              <table class="wrapper" cellpadding="0" cellspacing="0">
                <thead>
                  <tr>
                    <td>

                      <!-- Header -->
                      <table class="header">
                        <tbody>
                          <tr>
                            <td>
                              <img src="http://localhost:3000/assets/img/EmailBanner.png" />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="main-content-background">

                      <!-- Main content -->
                      <table class="main-content">
                        <tbody>
                          <tr>
                            <td>
                              <table class="main-content-box">
                                <tbody>
                                  <tr>
                                    <td class="text-left">
                                      <h3>Welcome <%= @email %>!</h3>
                                      <p>You can confirm your account email through the link below:</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="main-link">
                                      <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>

                        <!-- Footer -->
                        <tfoot>
                          <tr>
                            <td>
                              <p class="footer-text">
                                Copyright © 2022, All rights reserved. <br />
                                St. Paul Baptist Church<br />

                                1995 Globe Road<br />
                                Aylett, VA 23009     
                              <p>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </body>
</html>