html{
  background-color: rgb(60, 43, 35);
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}


/* #f6f9fc - I like this color */

/* //////////////////
admin-navbar (header) starts
////////////////// */

.header{
  min-height: 210px;
  text-align: center;
}

.who-input {
  width: 350px;
}

.what-input {
  width: 350px;
}

.prayer-details-input {
  text-indent: 20px;
  width: 350px;
  background-attachment: local;
  background-image:
      linear-gradient(to right, white 10px, transparent 10px),
      linear-gradient(to left, white 10px, transparent 10px),
      repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
  padding: 3px 15px;
  border-radius: 20px;
}

.name-date-list li{
  display: inline-flex;
  text-decoration-line: none;
}

.name{
  width: 300px;
}

.date{
  width: 300px;
}



/* title for about page */
.about-page-title {
  font-size: 45px;
  font-family: 'Inter', sans-serif;
  font-variant: small-caps;
}

div .navbar {
  background-color: rgb(60, 43, 35);
  width: 100%;
  min-height: 220px;
  display:block;
}

div .navbar ul li a.main{
  display: inline-flex;
  flex-wrap : wrap;
  padding-left: 20px;
}

.non-admin-nav-container li a.main {
  color: white;
  font-weight: regular;

}

.non-admin-nav-links{
  display: inline-flex;
  margin-bottom: 0px;
  list-style-type: none;
  padding-left: 55%;
  font-size: 12px;
}

/* //////////////////
 image for cross
////////////////////*/
.cross {
  padding-top: 10px;
}


a.dropdownitem {
  display: block;
  padding-left: 10px;

}

a.dropdownitem:hover {
  color: gray;

}

.navbar-banner-container {
  background-color: black;
  padding-top: 0px;
  display: block;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid white;
  width: 300px;
  margin: -18px auto;
  position: relative;
  z-index: 5;
}

h3.navbar-banner {
  border-radius: 100px;
  padding: 9px;
  font-size: 12px;
  color: white;
  font-weight: regular;
  margin: 0;
}

.dropdown-menu{ 
  background-color: white; 
}

.dropdown-item a{
  color: black;
}

.About-page-background {
  --bg-image: url(images/StPaulBaptistChurch.JPG);
  --bg-image-opacity: .25;
  height: 3000px;

  position: relative;
  isolation: isolate;
}

.About-page-background::after {
  content: '';
  
  position: absolute;
  background-position: -1924px -86px;
  z-index: -1;
  inset: 0;
  opacity: var(--bg-image-opacity);
  background-image: var(--bg-image);
  background-size: 4910.3px 3265px;
  background-repeat: no-repeat;
  height: 3000px;
}

/* unorganized list for pictures */
.pastor-pictures{
  list-style-type: none;
}

/* Pastor Brown's picture */
.pastor-brown {
  width: 300px;
}

.pastor-bullock {
  width: 745px;
}


/* Profile Page background */
.profile-page-background {
  background-image: url(images/tree-background-red.jpeg);
  background-position: center center;
  height: 800px;

}

.profile-info-square {
  background-color: white;
  width: 20%;
  padding-bottom: 20%;
  border-radius: 20px;
}

/* Would like to set up parallax for the backgrounds */

.bible-dec-background {
  margin-top: 100px;
  background-color: white;
}


.honors {
background-color: white  ;
height: 2900px;

}

.password-recovery-overlay {
  background-color: white;
  height: 900px;
}

.subscriptions-page-overlay {
  background-color: white;
  height: 2800px;
}