html{
  background-color: rgb(60, 43, 35);
}
.App {
  text-align: center;
}

/* //////////////////
admin-navbar (header) starts
////////////////// */

.header{
  height: 210px;
}

.title {
  padding-top: 15px;
  margin-bottom: -10px;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-variant: small-caps;
}

/* //////////////////
admin-navbar (header) ends
////////////////// */


/* //////////////////
non-admin-navbar (header) starts
////////////////// */


div .--navbar {
  background-color: rgb(60, 43, 35);
  width: 100%;
  height: 220px;
  margin-bottom: -28px;
}

div .--navbar ul li a.main{
  display: inline-flex;
  flex-wrap : wrap;
  padding-left: 20px;
}

.non-admin-nav-container li a.main {
  color: white;
  font-weight: regular;

}

.non-admin-nav-links{
  display: inline-flex;
  margin-bottom: 0px;
  list-style-type: none;
  padding-left: 55%;
  font-size: 12px;
}

/* image for cross */
.cross {
  padding-top: 10px;
}


/* //////////////////
 admin name 
////////////////////*/
.admin-name-container{
  float: left;
  
}

.name-container-list{
  margin-bottom: 0px;
  padding-left: 45px;
}

.admin-greeting{
  color: white;
  display: inline-flex;
  font-size: 30px;
  font-weight: 2px;
  margin-bottom: -10px;
}

.admin-name {
  color: white;
  display: inline-flex;
  font-size: 40px;
  margin-bottom: -10px;
  padding-left: 10px;
}

/* button on hamburger dropdown */
.hamburger-button {
  border: none;
  background: none;
  content: none;
  padding-top: -30px;
  padding-right: 0px;
  padding-left: 10px;
}

/* hides arrow on hamburger dropdown */
.hamburger-button::after{
  content: none;
}


/* image for hamburger dropdown */
.hamburger {
  height: 30px; 
  width: 45px;
  transition: none;
}

.staff-modal-btn {
  color: grey;
  padding-left: 10px;
  border: none;
  background: none;
}

a.dropdownitem {
  display: block;
  padding-left: 10px;

}

a.dropdownitem:hover {
  color: gray;

}

.admin-nav-links li a.main {
  color: white;
  font-weight: regular;
  text-decoration: none;
}

.admin-nav-links li a:hover{
  color: grey;
}

.navbar-giving-modal-btn {
  color: white;
  border: none;
  background: none;
  padding-right: 0px;
  padding-left: 10px;
}


.navbar-giving-modal-btn:hover{
  color: grey;
  border: none;
  background: none;
}

.navbar-banner-container {
  background-color: black;
  padding-top: 0px;
  display: inline-flex;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid white;
  width: 300px;
}

h3.navbar-banner {
  border-radius: 100px;
  padding-top: 9px;
  font-size: 12px;
  color: white;
  font-weight: regular;
}

.dropdown-menu{ 
  background-color: white; 
}

.dropdown-item a{
  color: black;
}

.homepage-body {
  background-image: url(images/trees-wallpaper.jpeg);
  background-position: center center;
  height: 800px;
  perspective: -1px;
}

.homepage-links-container {
  padding-top: 100px;
}

.bible-dec-background {
  margin-top: 100px;
  background-color: white;
}

.months {
  color: white;
  border: none;
  background: grey;
}

.footer {
  background-color: rgba(26, 25, 25, 1);
  margin: auto 0;
  height: 200px;
  width: 100%;
}
