.grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

form.modal-form {
    background: transparent;
    box-shadow: none;
    margin: 0;
    text-align: left;
    padding: 5px;

    input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }
}

.modal-body {
    &-heading {
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

.modal-footer-buttons {

    button {
        border-radius: 30px;
        padding: 10px;
        border: none;
        font-weight: bold;
        font-size: 22px;
        box-shadow: 0 5px 5px #999;
    }

    button.cancel {
        background: #BBB;
        color: white;
    }

    button.submit {
        background: white;
        color: #48E;
    }
}