@import './bootstrap-utils';

.footer {
    color: #fff;
    text-align: left;
    background-color: #1A1919;
    padding-top: 40px;

    


    &-menu {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        
        &-item {
            color:#fff;
            text-decoration: none;
            font-weight: bold;
            background-color: transparent;
            border: 0;
            padding: 0;
            transition: all 0.3s ease-in-out; 

            &:hover {
                color: grey;
                transform: translateX(5px);
            }
        }
    }
}