/* button on hamburger dropdown */
.navbar .hamburger-button {
    border: none;
    background: none;
    content: none;
    padding-top: -30px;
    padding-right: 0px;
    padding-left: 10px;
    height: 30px; 
    width: 45px;
    position: relative;
  }

  .navbar .hamburger-button:hover .hamburger-button-line {
    background-color: blue;
  }
  
  /* Would like to make an animated hamburger */
  /* hides arrow on hamburger dropdown */
.navbar .hamburger-button::after{
    content: none;
  }


.navbar .hamburger-button-line {
    background-color: white;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 20px;
    transition: all 0.3s ease-in-out; 
}

.navbar .hamburger-button-line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.navbar .hamburger-button-line:nth-child(3) {
    bottom: 0;
    top: auto;
}
.navbar .hamburger.show .hamburger-button-line:nth-child(2) {
    transform: translateX(300px);
}

.navbar .hamburger.show .hamburger-button-line:nth-child(1) {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center;
}

.navbar .hamburger.show .hamburger-button-line:nth-child(3) {
    top: auto;
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    transform-origin: center;
}
