.video-container {
    .form-container {
        max-width: 600px;
        margin: 140px auto;
        min-height: 80px;
    
    }

    .register-form {
        box-shadow: 0 20px 40px rgb(0, 0, 0);
    }

    .main{

    }
}