.video-container {
    position: relative;
    padding: 0;
    overflow: hidden;

    video {
        height: 160%;;
        position: absolute;
        top: 0;
    }
    
    main {
        position: relative;
    }
}